<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Info</title>
    <style>
        .font{
            color: white;
            font-family: 'Dancing Script', cursive;
        }
    </style>
</head>
<body style = "background: black;"><br>
    <center>
        <h1 class = "font">PROJECT INFORMATION</h1> 
        <h3 class = "font">Car Resale Value Prediction</h3><br>
        <object data= "/static/CAR RESALE VALUE PREDICTION.pdf" height = "1300" width = "1300"> 
        </object> 
    </center>
</body>
</html>